.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.task-modal {
  width: 95%;
  max-width: 650px;
  background: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 24px;
  padding: 2rem;
  color: white;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.modal-eyebrow {
  color: #60a5fa;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.close-btn {
  background: transparent;
  border: none;
  color: #94a3b8;
  font-size: 1.2rem;
  cursor: pointer;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form-group label {
  color: #cbd5e1;
  font-size: 0.9rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  background: #111827;
  border: 1px solid #374151;
  border-radius: 12px;
  padding: 1rem;
  color: white;
  outline: none;
}

.form-group textarea {
  resize: none;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.ai-box {
  background: rgba(59,130,246,0.15);
  border: 1px solid rgba(59,130,246,0.3);
  color: #93c5fd;
  padding: 1rem;
  border-radius: 12px;
  font-size: 0.95rem;
}

.create-btn {
  background: linear-gradient(
    135deg,
    #2563eb,
    #3b82f6
  );

  border: none;
  color: white;
  padding: 1rem;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.create-btn:hover {
  opacity: 0.9;
}